* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  box-sizing: border-box;
  background: #e5e5e5;
  font-family: "poppins", sans-serif;
  width: 100vw;
  position: relative;
}

ul {
  list-style-type: none;
}

.blue-text {
  color: #6070ff;
}

#page-header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5%;
  background-color: white;
}

#my-logo {
  font-weight: 700;
  font-size: 18px;
}

.header-ul {
  background-color: rgba(96, 112, 255, 0.7);
  position: absolute;
  top: 0;
  left: -150%;
  width: 100vw;
  height: 100vh;
  transition: left 0.5s;
  backdrop-filter: blur(3px);
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.75rem;
  padding: 1rem 1rem 0 2.75rem;
  display: flex;
  flex-direction: column;
}

.header-li {
  width: 100%;
  display: flex;
  margin: 0.5rem 0;
}

.header-li a {
  color: white;
}

.exit-li {
  justify-content: flex-end;
}

.header-ul-active {
  left: 0;
}

.nav-exit-button {
  background: none;
  border: none;
  height: 2rem;
  width: 2rem;
}

.nav-exit-button img {
  height: 100%;
  width: 100%;
}

.nav-hidden {
  display: none;
}

.portfolio-section {
  padding: 5%;
  margin-bottom: 10vh;
  width: 100%;
}

.portfolio-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

#section-1 {
  border-bottom-left-radius: 7rem;
  background-image: url("images/header-background.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 45rem;
  background-color: #ffff;
}

.title {
  font-weight: 700;
  color: #172b4d;
}

.main-head {
  width: 80%;
  font-size: 2.5rem;
  line-height: 3.25rem;
  display: flex;
  align-items: center;
}

.description,
.connect-link,
.work-summary {
  font-size: 1rem;
  line-height: 1.5rem;
}

.description {
  font-weight: 400;
  color: #344563;
}

.contact-list {
  width: 100%;
  display: flex;
}

.contact-list-icon {
  height: 1.25rem;
  margin-right: 1.5rem;
}

#section-2 {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10vh;
}

.work {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1.25rem;
  border: 1px solid #dfe1e6;
  background-color: #ffff;
  border-radius: 1rem;
  color: #344563;
}

.work-description {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.work-image {
  border-radius: 0.5rem;
  width: 100%;
}

.work-name {
  font-size: 2rem;
  line-height: 2.75rem;
}

.small-description {
  font-size: 0.8rem;
  line-height: 1rem;
  font-weight: 600;
}

.small-description-highlight {
  color: #7a869a;
}

.counter {
  height: 0.5rem;
  width: 0.5rem;
  margin: 0 0.5rem;
}

.work-used-tools {
  display: flex;
  gap: 1rem;
}

.tool {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0.75rem;
  height: 1.5rem;
  background: #ebebff;
  border-radius: 0.5rem;
  color: #6070ff;
}

.ruby {
  display: none;
}

.portfolio-btn {
  height: 3rem;
  width: max-content;
  border-radius: 0.5rem;
  border: solid 1px #396df2;
  font-size: 1rem;
  font-weight: 600;
  background-color: inherit;
  color: #396df2;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: background-color, color 0.75s;
}

.portfolio-btn:hover {
  color: #fff;
  background-color: #6070ff;
}

.portfolio-btn:active {
  color: #fff;
  background-color: #2230d2;
}

#section-3 {
  border-top-right-radius: 7rem;
  padding-top: 5rem;
  background-color: #ffff;
  padding-bottom: 7rem;
}

.domain-name {
  display: flex;
  align-items: center;
  height: 4rem;
  font-size: 1.25rem;
}

.languages-list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

.language {
  display: flex;
  gap: 2rem;
  align-items: center;
  background: #f7f7f9;
  border-radius: 0.5rem;
  height: 4rem;
  padding-left: 1rem;
}

.language-name {
  color: #253858;
  font-weight: 500;
}

.unactive-skill {
  border-bottom: solid 2px #dfe1e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.more-icon {
  margin-right: 2rem;
}

.portfolio-footer {
  margin-top: -10rem;
  border-top-left-radius: 7rem;
  background-color: #6070ff;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45rem;
  background-image: url('images/contact-form-background.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  width: 100%;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80%;
  align-items: center;
}

.footer-description {
  text-align: center;
  color: #ebebff;
  line-height: 1.4rem;
}

.form-input {
  height: 2.5rem;
  width: 100%;
  padding-left: 1rem;
  border-radius: 0.5rem;
  border: none;
}

.form-textarea {
  width: 100%;
  height: 10rem;
  padding-left: 1rem;
  padding-top: 1rem;
  border-radius: 0.5rem;
  border: none;
  font-family: 'Poppins', sans-serif;
}

.validation-message {
  font-weight: 200;
  color: white;
  font-size: 0.8rem;
}

.form-button {
  background-color: white;
  color: #6070ff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.2rem;
  align-self: flex-start;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  background-color: rgba(193, 199, 208, 0.7);
  backdrop-filter: blur(5px);
  padding: 5%;
  transition: display 0.5s;
}

.popup::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.popup-container {
  width: 100%;
  background-color: white;
  border-radius: 1.2rem;
  padding: 1.2rem;
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
}

.popup-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-popup__btn {
  background: none;
  height: 2rem;
  width: 2rem;
  border: none;
}

.close-popup__icon {
  height: 80%;
  width: 80%;
  justify-self: center;
  align-self: center;
}

.popup-image__container {
  width: 100%;
}

.work-description-desktop {
  display: none;
}

.work-descripton-mobile {
  display: block;
  padding-right: 1.2rem;
  color: #344563;
  line-height: 1.5rem;
}

.popup-image {
  width: 100%;
}

.popup-tools-and-btn {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.popup-work__tools {
  display: flex;
  gap: 1rem;
}

.popup-work-tools__desktop {
  display: none;
}

.popup-btn__container {
  display: flex;
  padding: 1.2rem 0;
  border-top: solid 2px #ebecf0;
}

.popup-btn {
  width: 100%;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.popup-hidden {
  display: none;
}

@media (min-width: 1024px) {
  body {
    font-size: 20px;
  }

  #page-header {
    height: 3.5rem;
    background-color: #ffff;
    align-items: center;
    padding: 0 5rem;
    box-shadow: 0 -0.5rem 1rem #a7aeff;
  }

  #hamburger-menu {
    display: none;
  }

  .nav-exit-button {
    display: none;
  }

  #header-ul {
    display: flex;
    flex-direction: row;
    background: none;
    position: relative;
    width: inherit;
    height: 100%;
    backdrop-filter: none;
    font-size: 2rem;
    line-height: 2.75rem;
    padding: 0;
    align-items: center;
    left: 0;
  }

  .header-li {
    margin: 0 1rem;
  }

  .header-li a {
    color: #344563;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
  }

  #section-1 {
    background-image: url('images/header-background-desktop.png');
    background-size: auto;
    padding: 5rem 22.5%;
  }

  .work {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 7rem 10% 0 10%;
    transition: box-shadow, border 0.75s;
  }

  .work:hover {
    border: 2px solid #a7aeff;
    box-shadow: 0 0 16px #a7aeff;
  }

  .work-image-container {
    width: 100%;
    height: 370px;
  }

  #work-2 .work-description,
  #work-4 .work-description {
    order: 1;
  }

  #work-2 .work-image,
  #work-4 .work-image {
    order: 2;
  }

  .work-summary {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  .tool {
    font-size: 0.7rem;
  }

  .ruby {
    display: flex;
  }

  #section-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    padding-bottom: 12rem;
  }

  .languages-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .language {
    flex-direction: column;
    align-items: flex-start;
    background: #f7f7f9;
    height: 9rem;
    width: 10rem;
    padding: 1rem;
  }

  .portfolio-footer {
    background-image: url('images/contact-form-background-desktop.png');
  }

  .footer-form {
    width: 50%;
  }

  .form-input,
  .form-textarea {
    width: 80%;
    border-radius: 0;
  }

  .form-button {
    align-self: center;
  }

  .popup-container {
    width: 80%;
    margin: auto;
  }

  .popup-footer {
    display: grid;
    grid-template-columns: auto 400px;
    padding-bottom: 4rem;
  }

  .work-description-desktop {
    font-size: 0.8rem;
    line-height: 1.5rem;
    display: block;
    padding-right: 1.2rem;
    color: #344563;
  }

  .work-descripton-mobile {
    display: none;
  }

  .popup-work-tools__desktop {
    display: flex;
  }
}
